/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.heroBanner {
  padding: 4rem 0;
  text-align: center;
  position: relative;
  overflow: hidden;
}

.titleWithLogo {
  display: inline-flex;
  align-items: center;
  gap: 0.6rem;
}

.titleLogo {
  width: 5rem;
  height: 5rem;
  border-radius: 0.4rem;
  object-fit: contain;
}

@media screen and (max-width: 996px) {
  .heroBanner {
    padding: 2rem;
  }

  .titleLogo {
    width: 2rem;
    height: 2rem;
  }
}
