.navbar {
    --ifm-navbar-height: fit-content;
    --ifm-navbar-padding-vertical: 2rem;
    --ifm-navbar-padding-horizontal: 3rem;
    box-shadow: unset;
}

.navbar__title {
    font-size: 1.1rem;
    font-weight: 700;
}
